In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#loading file 
df = pd.read_csv(r"C:\Users\sambo\OneDrive\Desktop\DAB 311\new_df.csv", low_memory=False)

In [4]:
df.head()

,PlanId,BenefitName,Explanation,Unnamed: 3
0,21989AK0030001-00,Routine Dental Services (Adult),See policy for other limits,Explanation
1,21989AK0030001-00,Dental Check-Up for Children,See policy for limits,See policy for other limits
2,21989AK0030001-00,Basic Dental Care - Child,See policy for limits,See policy for limits
3,21989AK0030001-00,Orthodontia - Child,For medically necessary only,For medically necessary only
4,21989AK0030001-00,Major Dental Care - Child,See policy for limits,0

In [5]:
df.columns

Index(['PlanId', 'BenefitName', 'Explanation', 'Unnamed: 3'], dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 4 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   PlanId       1048575 non-null  object
 1   BenefitName  1048575 non-null  object
 2   Explanation  321519 non-null   object
 3   Unnamed: 3   1368 non-null     object
dtypes: object(4)
memory usage: 32.0+ MB

In [7]:
#checking the null values 
print(df.isnull().sum())

PlanId               0
BenefitName          0
Explanation     727056
Unnamed: 3     1047207
dtype: int64

In [8]:
#filling the missing values with the most frequent option used 
df['Explanation'].fillna(df['Explanation'].mode()[0], inplace=True)

C:\Users\sambo\AppData\Local\Temp\ipykernel_13072\1550032352.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Explanation'].fillna(df['Explanation'].mode()[0], inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 4 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   PlanId       1048575 non-null  object
 1   BenefitName  1048575 non-null  object
 2   Explanation  1048575 non-null  object
 3   Unnamed: 3   1368 non-null     object
dtypes: object(4)
memory usage: 32.0+ MB

In [10]:
#convert all the values to string 
df[df.columns[3]] = df[df.columns[3]].astype(str)

In [15]:
#To remove the unnecessary column
df_cleaned = df.drop(columns=["Unnamed: 3"], errors="ignore")

In [16]:
df_cleaned.head()

,PlanId,BenefitName,Explanation
0,21989AK0030001-00,Routine Dental Services (Adult),See policy for other limits
1,21989AK0030001-00,Dental Check-Up for Children,See policy for limits
2,21989AK0030001-00,Basic Dental Care - Child,See policy for limits
3,21989AK0030001-00,Orthodontia - Child,For medically necessary only
4,21989AK0030001-00,Major Dental Care - Child,See policy for limits

In [20]:
import re

# Function to tokenize text using regex (splitting on non-word characters)
def regex_tokenize(text):
    return re.findall(r'\b\w+\b', text)

# Apply regex-based tokenization
df_cleaned["BenefitName_Tokens"] = df_cleaned["BenefitName"].apply(regex_tokenize)
df_cleaned["Explanation_Tokens"] = df_cleaned["Explanation"].apply(regex_tokenize)

# Display the first few rows to check tokenization results
df_cleaned.head()

,PlanId,BenefitName,Explanation,BenefitName_Tokens,Explanation_Tokens
0,21989AK0030001-00,Routine Dental Services (Adult),See policy for other limits,"[Routine, Dental, Services, Adult]","[See, policy, for, other, limits]"
1,21989AK0030001-00,Dental Check-Up for Children,See policy for limits,"[Dental, Check, Up, for, Children]","[See, policy, for, limits]"
2,21989AK0030001-00,Basic Dental Care - Child,See policy for limits,"[Basic, Dental, Care, Child]","[See, policy, for, limits]"
3,21989AK0030001-00,Orthodontia - Child,For medically necessary only,"[Orthodontia, Child]","[For, medically, necessary, only]"
4,21989AK0030001-00,Major Dental Care - Child,See policy for limits,"[Major, Dental, Care, Child]","[See, policy, for, limits]"

In [31]:
pip install nltk

SyntaxError: invalid syntax (3928285489.py, line 1)

In [23]:
import spacy

# Load SpaCy model
nlp = spacy.load("en_core_web_sm")

# Function to normalize text
def normalize_text(text):
    text = text.lower()  # Convert to lowercase
    text = re.sub(r'[^a-z0-9\s]', '', text)  # Remove special characters
    doc = nlp(text)
    return " ".join([token.lemma_ for token in doc if not token.is_stop])  # Lemmatization & stopword removal

# Apply normalization
df["BenefitName_Normalized"] = df["BenefitName"].apply(normalize_text)
df["Explanation_Normalized"] = df["Explanation"].apply(normalize_text)

# Display the first few rows
print(df[["BenefitName", "BenefitName_Normalized", "Explanation", "Explanation_Normalized"]].head())

ModuleNotFoundError: No module named 'spacy'